app = "fcaranked"
primary_region = "gru"

[build.args]
NODE_VERSION = "20"

[env]
NODE_ENV = "production"
PORT = "3000"

[http_service]
internal_port = 3000
auto_start_machines = true
auto_stop_machines = false
force_https = true
min_machines_running = 1

  [[http_service.checks]]
  grace_period = "5s"
  interval = "10s"
  method = "get"
  path = "/health"
  protocol = "http"
  timeout = "2s"

[[vm]]
cpu_kind = "shared"
cpus = 1
memory = "512mb"